# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3
*.db

# If you're using the 'venv' module in Python 3
venv/
ENV/

# If your virtualenv is stored in the project directory
env/
ENV/
env.bak/
env.bak2/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vim swap files
*.swp

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pytest_cache/*

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# Scrapy stuff:
.scrapy

# PyCharm:
*.iml
.idea/
.idea/**/
*.ipr
*.iws

# Local configuration files
local_settings.py
